* {
    padding: 0;
    margin: 0;
}

/* ESTILO DO BACKGROUND */
body {
    background-image: linear-gradient(177deg, rgba(0,0,0,1) 0%, rgba(116,116,116,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Poppins", serif;
}
 /* ESTILO DO PAGETOP */
.pagetop {
    margin: 3rem 0 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.pagetop img {
    width: 120px;
    border-radius: 100%;
    box-shadow: 0px 4px 8px #666666be;
    margin-bottom: 1rem;
    transition: .4s;
}

.pagetop img:hover {
    width: 130px;
}

.pagetop h1 {
    font-size: 24px;
    font-weight: 600;
}

.pagetop p {
    font-size: 16px;
    font-weight: 500;
}

/* ESTILO DO PAGEICONS */

.pageicons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.pageicons a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    transition: .3s;
}

.icongithub, .iconportfolio, .iconlinkedin, .iconinstagram, .iconfacebook {
    transition: .2s;
    color: #fff;
}

.icongithub:hover, .iconportfolio:hover, .iconlinkedin:hover, .iconinstagram:hover, .iconfacebook:hover {
    font-size: 28px;
}

.icongithub:hover {
    color:#574fee
}

.iconportfolio:hover {
    text-shadow: -1px -1px 0 cyan, 1px 1px 0 rgb(255, 0, 208);
}

.iconlinkedin:hover {
    color: rgb(41, 41, 255);
}

.iconfacebook:hover {
    color: rgb(41, 41, 255);
}

.iconinstagram:hover {
    background-image: linear-gradient(45deg, #404DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
}

/* ESTILO DOS CARDS */

.pagecards {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 100vh;
    background-color: transparent;
    font-weight: 600;
    border-color: #fff;
    width: 700px;
    transition: .3s;
    min-height: 6vh;
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 6vh;
    transition: .5s;
}

.card-text {
    color: #fff;
    text-decoration: none;
}

.card-text:hover {
    font-size: 17px;
    transition: .5s;
}

.card img {
    width: 50px;
    border-radius: 100%;
}

.btn {
    font-weight: 600;
    border-radius: 100vh;
    transition: .5s;
}

.copied {
    background-color: rgb(25, 56, 25);
    color: #fff;
}

/* ESTILO DO FOOTER */

footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #fff;
}

/* RESPONSIVIDADE COM MEDIA QUERY */

@media (max-width: 750px) {
    .card {
        width: 500px;
        font-size: 12px;
        margin: 5px;
        text-align: center;
    }

    .card-text:hover {
        font-size: 14px;
    }

    .btn {
        font-weight: 500;
        border-radius: 100vh;
        transition: .5s;
        font-size: 14px;
    }
}

@media (max-width: 530px) {
    .card {
        width: 350px;
        font-size: 12px;
        margin: 7px;
        text-align: center;
    }

    .card-text:hover {
        font-size: 13px;
    }

    .card img {
        width: 40px;
    }

    .btn {
        font-weight: 500;
        border-radius: 100vh;
        transition: .5s;
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .card {
        width: 250px;
        font-size: 12px;
        margin: 6px;
        text-align: center;
    }

    .card-text {
        font-size: 12px;
        margin: 5px;
    }

    .card-text:hover {
        font-size: 14px;
    }

    .card img {
        width: 38px;
    }

    .btn {
        font-weight: 500;
        border-radius: 100vh;
        transition: .5s;
        font-size: 10px;
    }
}