.links-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.link-card {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  width: 100%;
  transition: all 0.3s ease;
  padding: 10px;
  position: relative;
  z-index: 0;
}

.link-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 2;
}

.link-card-body i {
  font-size: 2em;
  color: #fff;
}

.link-card-body .link-text {
  flex-grow: 1;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.link-card-body .btn-copy {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link-card-body .btn-copy:hover {
  background-color: #fff;
  color: #000;
}

.btn-copy.copied {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

/* --- ALWAYS ACTIVE RGB EFFECT --- */

.link-card::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  border-radius: 12px;
}

.link-card::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -2;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  border-radius: 12px;
}

/* keeps the zoom effect on hover for desktop */
.link-card:hover {
  transform: scale(1.03);
  background: transparent;
}

/* STYLE FOR DOWNLOAD CARD */

.link-card > a.link-card-body {
  position: relative;
  justify-content: flex-start;
  text-decoration: none;
}

.link-card > a.link-card-body .link-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  flex-grow: 0;
  text-align: center;

  width: calc(100% - 120px);
}
